@model HomeViewModel
@using UrlShortener.Controllers;
@{
    ViewData["Title"] = "Home Page";
}

@{
    string tryGetAbsoluteShortUrl(string shortUrlHash) {
        if (string.IsNullOrWhiteSpace(shortUrlHash)) {
            return null;
        }
        return $"{Context.Request.Scheme}://{Context.Request.Host}/{shortUrlHash}";
    }

    var absoluteShortUrl = tryGetAbsoluteShortUrl(Model.ShortUrlHash);
}

<div class="text-center">
    <h1 class="display-4">Welcome to the URL Shortener webpage</h1>
    <p>You can shorten URLs on this webpage by pasting/entering in a URL into the textbox below, then clicking "Shorten URL"</p>

    @using (Html.BeginForm(nameof(HomeController.ShortenUrl), "Home", FormMethod.Post))
    {
        @Html.TextBoxFor(m => m.LongUrl, new
        {
            Placeholder = "Example: vitawebsitedesign.github.io/bookmarks/"
        });
        <input type="submit" value="Shorten URL" />
    }

    @if (Model.ShortUrlHash?.Length > 0)
    {
        <section>
            <div>Use the short URL below to share your link with others:</div>
            <a href="@absoluteShortUrl" target="_blank" title="Click to open your URL in a new tab">
                @absoluteShortUrl
            </a>
        </section>
    }
</div>
