@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12 col-lg-5 offset-lg-1 py-5 text-left">
        <header class="row row mb-5">
            <h1 class="col-12">Welcome!</h1>
            <p class="col-12">You can generate shortened URLs on this webpage below.</p>
        </header>

        <section class="row">
            @{ await Html.RenderPartialAsync("_UrlShortenerForm"); }
        </section>

        @if (!ViewData.ModelState.IsValid)
        {
            <section class="row">
                @{ await Html.RenderPartialAsync("_UrlShortenerWarningBox"); }
            </section>
        }

        @if (Model.UrlMappings?.Any() == true)
        {
            <section class="row">
                @{ await Html.RenderPartialAsync("_UrlShortenerResults"); }
            </section>
        }
    </div>
</div>
